<footer class="footer">
  <div class="footer-main">
    <!--     <figure class="footer-brand">
      <a class="logo" href="https://www.redhat.com/en"><img src="{{uiRootPath}}/img/redhat-footer.svg" alt="Red Hat"
          width="200"></a>
    </figure> -->
    <!--     <ul class="footer-brand-links">
      <li><a target="_blank" rel="noopener">Red Hat</a></li>
            <li><a href="https://github.com/asciidoctor" target="_blank" rel="noopener">Source</a></li>
    </ul> -->
    <!--     <p class="footer-brand-follow">
      <a href="https://twitter.com/redhat" title="Follow us on X" target="_blank" rel="noopener"><img
          src="{{{uiRootPath}}}/img/x-logo.svg" alt="X logo" class="logo" width="28"><span
          class="handle">@redhat</span></a>
    </p> -->
  </div>
  <!--   <div class="footer-legal">
  </div> -->
  <div class="footer-thanks">
    <p>© 2023 Red Hat, Inc.</p>
    <p>Authored in <a href="https://asciidoc.org" target="_blank" rel="noopener">AsciiDoc</a>.<br>Produced by <a
        href="https://antora.org" target="_blank" rel="noopener">Antora</a> and <a href="https://asciidoctor.org"
        target="_blank" rel="noopener">Asciidoctor</a>.</p>
  </div>
</footer>