@media screen and (min-width: 1024px) {
  .body {
    display: flex;
  }
}

/* AR: tweak for page margin viewing improvments */
@media screen and (min-width: 1400px) {
  .body {
    margin-left: 155px;
  }
}