@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  src:
    local("Open Sans"),
    local("Open Sans-Regular"),
    url(~typeface-open-sans/files/open-sans-latin-600.woff) format("woff");
}